<%= header_btn(t("solution_categories.new.title"), new_solution_category_path, remote: true) if can?(:create, SolutionCategory) %>

<div class="card">
  <div class="card-body">
    <table id="solution_categories_datatable" class="table table-hover dataTable" data-source="<%= solution_categories_path(format: :json) %>">
      <thead>
      <tr>
        <th><%= t 'activerecord.attributes.solution_category.name' %></th>
        <th class="dt-options"></th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>



<% content_for :javascript_code do %>
  <script>
      var params = {
          columns: [
              {data: 'name'},
              {data: 'actions'},
          ]
      };

      initDatatable($('#solution_categories_datatable'), params);
  </script>
<% end %>