<% if resource.errors.any? %>
  <div class="alert alert-danger">
    <b><%= t('simple_form.error_notification.default_message') %>:</b>
    <ul>
      <% resource.errors.full_messages.each do |err| %>
        <li><%= err %></li>
      <% end %>
    </ul>
  </div>
<% end %>