Mr/Miss <b><%= @requester.fullname %></b>.

<p>
  Your ticket with id  <%= @ticket.id %> has been resolved.
</p>

<p>
  Please do NOT reply unless you wish to re-open the matter.
</p>

With Regards,<br>
SDesk