<%= header_btn(t("companies.new.title"), new_company_path) if can?(:create, Company) %>

<div class="card">
  <div class="card-body">
    <table id="companies_datatable" class="display table table-hover dataTable" data-source="<%= companies_path(format: :json) %>">
      <thead>
      <tr>
        <th><%= t 'activerecord.attributes.company.name' %></th>
        <th><%= t 'activerecord.models.company.domain' %></th>
        <th class="dt-options"></th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>



<% content_for :javascript_code do %>
  <script>
      initDatatable($('#companies_datatable'), {
          columns: [
              {data: 'name'},
              {data: 'domain'},
              {data: 'actions'},
          ]
      });
  </script>
<% end %>