/*
 *= require bootstrap-tagsinput/dist/bootstrap-tagsinput.css
 *= require switchery
 *= require sweetalert2/dist/sweetalert2
 *= require select2/dist/css/select2.min
 *= require morris.js/morris
 *= require icheck/skins/flat/blue
 *= require perfect-scrollbar.min
 *= require toastr/toastr.scss
*/

@import 'bootstrap-datetimepicker.min';
@import "cp/style";
@import "cp/tabs";
@import "cp/other-pages";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "css-chart";
@import 'datatables';
@import 'common';

body.sessions,
body.registrations,
body.passwords
{
  .page-titles {
    display: none;
  }
}

//== Header
.navbar-brand {
  img {
    height: 40px;
  }
}

//== General
.position-relative {
  position: relative;
}

.bundle-image-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  position: relative;
}

.bootstrap-datetimepicker-widget {
  position: absolute;
  background: #fff;
  z-index: 10;
}

.ticket-reply-wrapper{
  margin-bottom: 15px;

  &.justify-content-end .ticket-reply-inner{
    width: 100%;
  }

  .ticket-reply-inner{
    background: #ecf0f1;
    border-radius: 5px;
    padding: 10px;
    max-width: 60%;
    min-width: 300px;
  }
}

#ticket-reply-holder{
  .ticket_reply_content{
    display: flex;
    justify-content: end;
  }

  textarea{
    border-radius: 5px;
    padding: 10px;
    max-width: 60%;
    min-width: 300px;
  }
}

.solution-folders{
  display: flex;
  flex-flow: row wrap;

  &:after{
    content: '';
    flex-grow: 1;
  }

  .solution-folder{
    height: 120px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: 10px;
    text-align: center;

    &:before{
      content: '';
      position: absolute;
      background: image-url('directory.png') no-repeat center center;
      background-size: 100% 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &:hover i{
      color: #1abc9c;
    }

    span{
      z-index: 1;
      color: white;
      font-size: 14px;
      margin-top: 10px;
    }
  }
}