/*
 *= require bootstrap-tagsinput/dist/bootstrap-tagsinput.css
 *= require switchery
 *= require sweetalert2/dist/sweetalert2
 *= require select2/dist/css/select2.min
 *= require morris.js/morris
 *= require icheck/skins/flat/blue
 *= require perfect-scrollbar.min
 *= require toastr/toastr.scss
*/

@import 'bootstrap-datetimepicker.min';
@import "cp/style";
@import "cp/tabs";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "css-chart";
@import 'datatables';
@import 'common';

body.sessions,
body.registrations,
body.passwords
{
  .page-titles {
    display: none;
  }
}

//== Header
.navbar-brand {
  img {
    height: 40px;
  }
}

//== General
.position-relative {
  position: relative;
}

.bundle-image-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  position: relative;
}

.bootstrap-datetimepicker-widget {
  position: absolute;
  background: #fff;
  z-index: 10;
}

.ticket-reply-wrapper{
  margin-bottom: 15px;

  &.justify-content-end .ticket-reply-inner{
    width: 100%;
  }

  .ticket-reply-inner{
    background: #ecf0f1;
    border-radius: 5px;
    padding: 10px;
    max-width: 60%;
    min-width: 300px;
  }
}

#ticket-reply-holder{
  .ticket_reply_content{
    display: flex;
    justify-content: end;
  }

  textarea{
    border-radius: 5px;
    padding: 10px;
    max-width: 60%;
    min-width: 300px;
  }
}